public-hoist-pattern=*
hamefully-hoist=true

"registry"="https://registry.npmmirror.com/"

"@ft:registry"="http://192.168.8.179:3003/"
"@tjj:registry"="http://192.168.8.179:3003/"

electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron_builder_binaries_mirror="http://npm.taobao.org/mirrors/electron-builder-binaries/"
CHROMEDRIVER_CDNURL="https://npm.taobao.org/mirrors/chromedriver"
