ignore-workspace-root-check=true

public-hoist-pattern=*
hamefully-hoist=true

"registry"="https://registry.npmmirror.com/"

electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron_builder_binaries_mirror="http://npm.taobao.org/mirrors/electron-builder-binaries/"
CHROMEDRIVER_CDNURL="https://npm.taobao.org/mirrors/chromedriver"
