ignore-workspace-root-check=true

public-hoist-pattern=*
hamefully-hoist=true

electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"
CHROMEDRIVER_CDNURL="https://npmmirror.com/mirrors/chromedriver"
